/* Body */
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    background-color: antiquewhite;
    color: rgb(86, 87, 64);
}

.choiceWebsites {
    
}

/* Fonter og tekst størrelser */
h1 {
    font-size: 4rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 6rem;
}

h4 {
    font-size: 2rem;
}

/* Image settings*/
img {
    max-width: 100%;
    display: block;
    width: 70rem;
    height: 30rem;
    margin-inline: auto;
}

