/* Body */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
}

/* Image settings*/
img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
    border: rgb(111, 92, 83) solid 3px; 
}

/* Fonter og tekst størrelser */
p {
    font-size: 22px;
    margin-bottom: 2rem;
    text-align: left;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 6rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 3rem;
}

a {
    font-size: 2rem;
    text-decoration: none;
    color: rgb(86, 87, 64);
}

/* Layout */
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: antiquewhite;
    color: rgb(86, 87, 64);
    text-align: center;
    position: relative;
}

header {
    width: 100%; 
    height: 5rem; 
    color: rgb(65, 94, 94);
    border: 2px solid yellow;
    background-color: aliceblue;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 100%;
    height: 6rem;
}

.mainA {
    width: 67%;
    margin-inline: auto;
}
footer {
    width: 100%;
    border: 2px solid cyan;
}

/* Class for index */
/* .headerPic {
    position: absolute;
    left: 0;
    z-index: -1;
} */

.choiceWebsites {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 225px auto; */
    padding-inline: 2rem;
    align-self: center;
    gap: 2rem;
}

.choiceWebsites img {
    border-radius: 1rem;
    border: rgb(111, 92, 83) solid 3px;
}

.article, .podcast, .test {
    border: solid rgb(115, 98, 75) 4px;
    background-color: rgb(206, 186, 161);
    width: fit-content;
    height: fit-content;
    margin: 5px;
    padding: 10px;
    border-radius: 1rem;
    text-align: center;
}

/* Class for Article*/
.ORtitle {
    padding-top: 4rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.linkA {
    text-align: left;
    float: left;
    font-size: 22px;
    text-decoration: underline;
    color: rgb(79, 34, 34);
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border: solid rgb(215, 145, 145);
    margin-block-end: 5rem;
    border-radius: 1rem;
    background-color: rgb(238, 176, 176)
}

.linkB {
    text-align: left;
    float: left;
    font-size: 22px;
    text-decoration: underline;
    color: rgb(79, 34, 34);
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border: solid rgb(215, 145, 145);
    margin-block-end: 5rem;
    margin-left: 1%;
    border-radius: 1rem;
    background-color: rgb(238, 176, 176)
}

